<div class="horizontitel">
	<span class="titel">
		In de kijker
	</span>
	<span class="lijn">
	</span>
</div>

<div class="indekijker">
{% setcontent indekijker = 'nieuwsitems/latest/4' where { sticky : 1 } %}
{% for item in indekijker %}
	<div class="item">
		{% if item.foto.0 is not null %}
			<a class="foto" href="{{ item.link }}"><img src="{{ item.foto.0|thumbnail(200,150,'c') }}"></a>
		{% endif %}
		<a class="titel" href="{{ item.link }}">{{ item.titel }}</a>
		<div class="datum">{{ item.datechanged|date('d/m/y') }}</div>
		<div class="teaser">
			{{ item.teaser }}
		</div>
		<a class="leesmeer" href="{{ item.link }}">lees meer</a><br/>
	</div>
{% endfor %}
</div>