{% macro display_menu_item(item, loop) %}
    {% from _self import display_menu_item %}
    
    <li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item.class is defined %} {{ item.class }}{% endif %}">
        <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
            class='{{ app.request.pathInfo == '/partners' and item.label == 'Partners' ? ' current ' : '' }}{{ item.label == 'Offerte' and record.contenttype.slug == 'offertes' ? ' current ' }}{{ item.path == record.slug and record.slug != '' ? ' current ' }}'>
            
            {% if item.label is defined %}
                {% if item.label == 'facebook' %}
                    <i class="fa fa-facebook"></i>
                {% elseif item.label == 'linkedin' %}
                    <i class="fa fa-linkedin"></i>
                {% else %}
                    {{item.label}}
                    
                {% endif %}
                {% else %}
                 - 
             {% endif %}
        </a>
    </li>
{% endmacro %}

{% from _self import display_menu_item %}

<ul>
    
    {% for item in menu %}
        
        {% if item.label is defined %}
            {{ display_menu_item(item, loop) }}
        {% endif %}
    {% endfor %}
</ul>