{% extends 'record.twig' %}

{% block title %}
	Offerte
{% endblock %}

{% block gegevens %}

    {% if record.contenttype.slug == 'pages' %}
        {% setcontent record = 'offerte/1' where {slug: "autoverzekering"} %}
    {% endif %}
    {% setcontent offertes = 'offertes' orderby 'id' %}
    <div class="offertes">
	    {% for offerte in offertes %}
	    	<a href="{{ offerte.link }}" class="offerte {{ offerte == record ? ' actief ' }}">{{ offerte.naam }}</a>
	    {% endfor %}
    </div>
    
    {% if record.slug == 'offerte' %}
    	{{ simpleform('autoverzekering') }}
    {% else %}
    	{{ simpleform(record.slug) }}
    {% endif %}
{% endblock %}